body{
     font-family: poppins, serif;
     background-image: url(https://images.unsplash.com/photo-1561998338-13ad7883b20f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
}
.country{
      background-image:url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);
      color: rgb(252, 252, 252);
      border:  2px solid rgb(34, 27, 27);
      margin: 20px;
      padding: 5px;
      border-radius: 5%;
}
.country img{
      width: 180px;
}