body{
     font-family: poppins, serif;
}
.country{
      background-color: #721c1c;
      color: blanchedalmond;
      border:  2px solid rgb(34, 27, 27);
      margin: 20px;
      padding: 5px;
      border-radius: 5%;
}
.country img{
      width: 180px;
}